<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bye-bye from Rotten Mangoes, <%= @user.full_name %></h1>
    <p>
      You have been deleted from example.com,
    </p>

    <p>Please don't cry</p>
  </body>
</html>