/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require bootstrap_overrides
 */

 /*.row { outline: 1px solid red; }*/
 /*[class^=col] { outline: 1px solid green; }*/
/*select#t {
  color: red;
}*/
.thumbnail {
  height: 460px;
}

#search_form {
  margin-top: 25px;
}

#brand {
  margin-bottom: 15px;
} 
#footer {
  clear: both;
}
#footer p {
  margin-left: 20px;
}
