<%= link_to "Create a user", new_admin_user_path %><br/>

<hr>
<%= paginate @users %>
<% @users.each do |user| %>
  <h4><%= link_to user.full_name, admin_user_path(user) %></h4>  <p> <%= link_to "Act as #{user.full_name}", new_session_path(user)  %>  </p>
  <hr>
<% end %>